rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
     match /results/{id}{
    	allow read: if isLoggedIn() && isDomainMatch();   											
    }
  }
  
  function isLoggedIn(){
		return request.auth != null;
	} 
  
  function isDomainMatch(){  
  	return request.auth.token.email.split("@")[1] == "gmail.com";
  }
  
}